@tailwind base;

/* Write your own custom base styles here */

@layer base {
  body {
    @apply text-gray-800 font-extralight;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@tailwind components;

/* Write your own custom component styles here */

@layer components {
  .font-heading {
    @apply font-serif font-extralight leading-tight tracking-tight;
  }
  .responsiveVideoWidescreen {
    @apply relative h-0;
    padding-top: 56.25%;

    iframe {
      @apply absolute w-full h-full top-0 left-0;
    }
  }
  .contentPage {
    h1 {
      @apply mt-6
    }
    h2 {
      @apply mt-3;
    }
    p {
      @apply mb-3;
    }
    ul, ol {
      @apply pl-6 list-disc list-outside;
    }
  }
}

@tailwind utilities;

/* Your own custom utilities */

@layer utilities {
  .pt-3\/4 {
    padding-top: 75%;
  }
  .pt-full {
    padding-top: 100%;
  }
  .text-7xl {
    font-size: 5rem;
  }
  .text-8xl {
    font-size: 6rem;
  }
}