@tailwind base;

/* Write your own custom base styles here */

@layer base {
  body {
    @apply text-gray-800;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@tailwind components;

/* Write your own custom component styles here */

@layer components {
  .responsiveVideoWidescreen {
    @apply relative h-0;
    padding-top: 56.25%;

    iframe {
      @apply absolute w-full h-full top-0 left-0;
    }
  }
  .flexIconButton {
    @apply flex flex-row justify-center items-center py-2 px-6 rounded font-sans;

    .icon {
      @apply text-2xl mr-4;
    }
    .words {
      @apply leading-snug;

      small {
        @apply block text-xs leading-none;
      }
    }
  }
  .flexIconButtonDark {
    @apply border border-gray-900 bg-gray-900 text-white;

    &:hover, &:focus {
      @apply border border-white bg-white text-gray-900;
    }
  }
  .flexIconButtonDarkOutline {
    @apply border border-gray-900 bg-none text-gray-900;

    &:hover, &:focus {
      @apply border border-gray-900 bg-gray-900 text-white;
    }
  }
  .flexIconButtonOutline {
    @apply border border-white bg-none text-white;

    &:hover, &:focus {
      @apply border border-white bg-white text-gray-900;
    }
  }
}

@tailwind utilities;

/* Your own custom utilities */

@layer utilities {
  .pt-3\/4 {
    padding-top: 75%;
  }
  .pt-full {
    padding-top: 100%;
  }
}